/*p {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}*/

h1, h2 {
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: #002633;
  letter-spacing: 0.02em;
  display: block;
  font-style: normal;
  padding-top: 0.04em;
  text-shadow: 0.02em 0.02em 0 rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 50px;
}

.container {
  padding: 0 100px;
}

main {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}

.presentation {
  text-align: center;
}

/*--------------------------------------------------------------
# Thumbnail Resume Examples
--------------------------------------------------------------*/
/* Thumbnail Resume Item Attributes */
.resume-item {
  float: left;
  width: 23%;
  margin: 20px 1%;
}
.resume-item .resume-title {
  background: linear-gradient(to bottom, white, #DDD);
}

.resume-item h4 {
  margin: 0;
  height: 30px;

  text-align: center;
  line-height: 30px;
  font-size: 1.7vw;

  background-color: #555;
  color: #fbfbfb;
  font-family: 'Quicksand', sans-serif;
}
.resume-item h3 {
  padding: 10px 0px;
  text-align: center;
  font-size: 1.5vw;
  background-color: white;

  border-bottom: 3px solid red;
}
.resume-item .resume-title > img, .resume-item .img-holder {
  object-fit: cover;
  width: 60%;
  margin-top: 50%;
  margin: 20px 20% 0px 20%;
}
.resume-item .img-holder img {
  width: 70%;
  margin-top: -20%;
}
.resume-item .img-holder img:first-child { margin-left: -20%; }
.resume-item .img-holder img:nth-child(2){ margin-left:  40%; }

.resume-item .pre-btn {
  margin: 2px;
}

.resume-item .post-btn {
  margin: 2px;
}

.resume-meta {
  text-align: center;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 100%;
}


/*--------------------------------------------------------------
# Text accordions - Career Advice Section
--------------------------------------------------------------*/
.subtitle {
  font-style: normal;
  color: #0052cc;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}


/* Flexible Slide-to-top Accordion Style*/

.wrapper{
  width:90%;
  max-width:800px;
  margin:30px auto;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion ul li{
    height: 100px;
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
  font-family: 'Josefin Slab',Georgia, serif;
  text-shadow: 1px 1px 1px #fff;
  font-size: 26px;
  display: block;
  position: relative;
    line-height: 100px;
  outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
  -moz-transition:  color 0.2s ease-in-out;
  -o-transition:  color 0.2s ease-in-out;
  -ms-transition:  color 0.2s ease-in-out;
  transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
  background: transparent url(img/down.png) no-repeat center center;
  text-indent:-9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -7px;
  opacity:0;
  -webkit-transition:  all 0.2s ease-in-out;
  -moz-transition:  all 0.2s ease-in-out;
  -o-transition:  all 0.2s ease-in-out;
  -ms-transition:  all 0.2s ease-in-out;
  transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #1693eb;
}
.st-accordion ul li > a:hover span{
  opacity:1;
  right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #1693eb;
}
.st-accordion ul li.st-open > a span{
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
    transform:rotate(180deg);
  right:10px;
  opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px; 
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
@media screen and (max-width: 320px){
  .st-accordion ul li > a{
    font-size:36px;
  }
}
