#main-container {
  font-size: 1.1em;
}
#resume-catalog {

}

/* Thumbnail Resume Item Attributes */
.resume-item {
  float: left;
  width: 23%;
  margin: 20px 1%;
}
.resume-item .resume-title {
  background: linear-gradient(to bottom, white, #DDD);
}
.resume-item h4{
  margin: 0;
  height: 30px;

  text-align: center;
  line-height: 30px;
  font-size: 1.7vw;

  background-color: #555;
  color: #fbfbfb;
  font-family: 'Quicksand', sans-serif;
}
.resume-item h3 {
  padding: 10px 0px;
  text-align: center;
  font-size: 1.5vw;
  background-color: white;

  border-bottom: 3px solid red;
}
.resume-item .resume-title > img, .resume-item .img-holder {
  object-fit: cover;
  width: 60%;
  margin-top: 50%;
  margin: 20px 20% 0px 20%;
}
.resume-item .img-holder img {
  width: 70%;
  margin-top: -20%;
}
.resume-item .img-holder img:first-child { margin-left: -20%; }
.resume-item .img-holder img:nth-child(2){ margin-left:  40%; }

.resume-item .pre-btn {
  margin: 0 0 0 20px;
  float: left;
}

.resume-item .post-btn {
  margin: 0 20px 0 0;
  float: right;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        margin:auto;
        width: 100%;
        }